@font-face {
    font-family: Blue-Curve;
    src: url('../fonts/Blue-Curve.ttf');
}

body {
    background: rgb(33, 37, 41);
    color: #fafafa;
    font-family: Blue-Curve;
    padding: 0px 20px 0px 20px;
}

.some_info p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    background: #1d1d1d;
    color: #fafafa;
}

#navbarSupportedContent {
    border-radius: 20px;
    padding: 4px;
}

.part_header {
    background-color: #1d1d1d;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
}

.my_info {
    display: flex;
    justify-content: center;
    height: 300px;
}

.some_info {
    width: 400px;
    padding: 20px;
}

.my_name {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.my_photo img {
    height: 80%;
    border-radius: 130px;
    border: 2px solid #eee;
}


.projects_cards_container {
    display: flex;
    justify-content: space-between;
}

.project_card {
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px;
    max-width: 400px;
    margin: 10px 10px 10px 10px;
}

.project_card div {
    padding: 4px;
}

.project_name {
    color: #ff3559;
    font-size: 18px;
}

.project_card ul {
    padding-inline-start: 0px; 
}

.project_card li {
    display: inline-block ;
    border: 1px solid #ff3559;;
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
}



@media (max-width: 480px) {

    body {
        background: rgb(33, 37, 41);
        color: #fafafa;
        font-family: Blue-Curve;
        padding: 0px 5px 0px 5px;
    }

    .my_info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: auto;
    }

    .some_info {
        margin-left: 10px;
        padding: 0%;
        height: auto;
    }

    .projects_cards_container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .my_photo img {
        height: 120px;
        border-radius: 130px;
        border: 2px solid #eee;
    }

    #navbarSupportedContent {
        background-color: #666666;
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
        margin-top: 5px;
    }

}